.tab table,th,td{
    border: 1px solid gray;
}
.tab table{
    width: 100%;
    border-collapse: collapse;
}
.tab tr{
    height:70px;
    vertical-align:center;
}
th{
background-color: #333;
color: #fff;
}
td{
    padding:30px;
}
tr:hover{
    background-color: yellow;
}
tr:nth-child(even){
    background-color:#f2f2f2;  
}